<h3>Attribute Directives</h3>

<h4>ngClass / ngStyle</h4>

<div [ngClass]="{border:true, background:true}"></div>

<div [ngStyle]="{'background-color':'red'}"></div>

<hr>

<h3>Custom Attribute Directives</h3>

<div appHighlight>Some text</div>

<hr>

<h3>Structural Directives</h3>
<h4>*ngIf</h4>

<div *ngIf="switch">Conditional Text</div>

<template [ngIf]="switch">
  <div>Conditional Text</div>
</template>

<button (click)="onSwitch()">Switch</button>

<hr>
<h4>*ngFor</h4>

<ul>
  <li *ngFor="let item of items; let i = index">{{item}} - (Index {{i}})</li>

</ul>

<hr>
<h4>*ngSwitch</h4>
<div [ngSwitch]="value">

  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchDefault>Default</p>

</div>

<p [ngSwitch]="value">

  <template [ngSwitchCase]="10">10</template>
  <template [ngSwitchCase]="100">100</template>
  <template ngSwitchDefault>Default</template>

</p>

<hr>
<h4>Unless Directive</h4>
<div *appUnless="switch">Conditional Text</div>
